<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div>
      <img style="height: 80px; width: 80px;" src="./assets/images/PLCoin.png" />
      <a class="navbar-brand" routerLink="/home">PLCoin</a>
    </div>
    <div>
      <button type="button" class="btn btn-outline-info" routerLink="/settings">Cài đặt</button>
      &nbsp;
      <button type="button" class="btn btn-outline-success" routerLink="/create-transaction">Tạo giao dịch</button>
      &nbsp;
      <button type="button" class="btn btn-outline-success" routerLink="/list-pendding-transaction">Danh sách giao dịch đang chờ</button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
