<div class="container">
    <h3>Tạo giao dịch</h3>
    <br/>
    <br/>
    <div class="form-group">
        <label >Địa chỉ đi</label>
        <input type="text" class="form-control" placeholder="..." [(ngModel)]="newTransaction.fromAddress" disabled>
    </div>
    <br/>
    <div class="form-group">
        <label >Địa chỉ đến</label>
        <input type="text" class="form-control"  placeholder="..." [(ngModel)]="newTransaction.toAddress">
    </div>
    <br/>
    <div class="form-group">
        <label >Số lượng coin</label>
        <input type="text" class="form-control"  placeholder="..." [(ngModel)]="newTransaction.amount">
    </div>

    <button type="button" class="btn btn-success" (click)="createTransaction()">Tạo giao dịch</button>
</div>
